<h1 class="yogaClassTitle"><%= @yoga_class.title %></h1> <br>

<!--- <a href="#" class="js-next" data-id="<@yoga_class.id%>">Next...</a><br> --->

<label>Duration:</label>
<p class="yogaClassDuration" ><%= @yoga_class.duration %> minutes</p>

<label>Location:</label>
<p class="yogaClassLocation"><%= @yoga_class.location %></p>

<label>Intention:</label>
<p class="yogaClassIntention"><%= @yoga_class.intention %></p>

<label>Class Plan:</label>
<p class="yogaClassClassPlan"><%= @yoga_class.class_plan %></p>

<label>Class Size:</label>
<p class="yogaClassSize"><%= @yoga_class.class_size %></p>

<label>Notes:</label>
<p class="yogaClassNotes"><%= @yoga_class.notes %></p>

<label>Teacher:</label>
<p class="yogaTeacher"><%= @yoga_class.user.email %></p>


<p>Comments</p>
<div class="comment-content">
<% @comments.each do |comment| %>
    <strong><%= comment.user.first_name%> <%=comment.user.last_name%> said </strong>
    <br>
    <p><%= comment.content %></p>
<% end %>
</div>

<%= render partial: 'comments/form', locals: {comment: @comment} %>
