<h1><%= @yoga_class.title %></h1> <br>

<label>Duration:</label>
<%= @yoga_class.duration %> minutes<br>

<label>Location:</label>
<%= @yoga_class.location %> <br>

<label>Intention:</label>
<%= @yoga_class.intention %> <br>

<label>Class Plan:</label>
<%= @yoga_class.class_plan %> <br>

<label>Class Size:</label>
<%= @yoga_class.class_size %> <br>

<label>Notes:</label>
<%= @yoga_class.notes %> <br>
