<% if @client.errors.any? %>
<div id="error_explanation">
  <h3>
    <%= pluralize(@client.errors.count, "error") %>
    prohibited this post from being saved:
  </h3>

  <ul>
  <% @client.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @client do |f| %>


  <label>Name of Orginization:</label><br>
  <%= f.text_field :org_name %><br>

  <label>Point of Contact:</label><br>
  <%= f.text_field :point_of_contact %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.submit "Submit" %>
 <% end %>
