<%= form_for @client do |f| %>

  <label>Name of Orginization:</label><br>
  <%= f.text_field :org_name %><br>

  <label>Point of Contact:</label><br>
  <%= f.text_field :point_of_contact %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.submit "Submit" %>
 <% end %>
